/* Atkinson Hyperlegible font for mdBook (default colors, only font override) */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("atkinson-hyperlegible/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("atkinson-hyperlegible/Atkinson-Hyperlegible-Bold-102.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body, p, li, h1, h2, h3, h4, h5, h6 {
  font-family: "Atkinson Hyperlegible", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
