@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("../src/assets/fonts/AtkinsonHyperlegibleNext-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("../src/assets/fonts/AtkinsonHyperlegibleNext-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("../src/assets/fonts/AtkinsonHyperlegibleMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 1rem;
}

:root {
  --fg-font:
    "Atkinson Hyperlegible Next", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --mono-font:
    "Atkinson Hyperlegible Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    "Courier New", monospace;
}

/* Apply fonts */
body,
p,
li,
h1,
h2,
h3,
h4,
h5 {
  font-family:
    "Atkinson Hyperlegible Next",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  line-height: 1.5;
}

body,
p,
li {
  font-size: 1.41rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.81rem;
}

h3,
h4,
h5,
h6 {
  font-size: 1.88rem;
}

blockquote {
  font-family:
    "Atkinson Hyperlegible Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    "Courier New", monospace;
  font-size: 1.34rem;
}

pre {
  white-space: pre-wrap; /* improve wrapping if desired */
  word-break: break-word;
}

blockquote {
  padding-left: 1rem;
  border-left: 4px solid rgba(0, 0, 0, 0.08);
  margin-left: 0;
  font-size: 1.25rem;
}

/* Center mdBook footer */
.mdbook-footer,
.mdbook-footer .mdbook-footer-inner {
  text-align: center;
}
